@media (max-width : 768px) {
    .container{
        max-width: 100%;
        padding: 40px;

    }

    header form{
        width: 100%;
        height: calc(100%/2);
    }

header form .Creat-Account{
    top: 10px;
}

header form h1{
    font-size: 35px;
}
}